In [ ]:
# The pymysql module is used to communicate with a mysql database 
# install the module

In [ ]:
# discuss the database architecture

In [ ]:
# login to phpmyadmin and create a table to store the storms.csv data (know not null, auto increment, primary)

In [ ]:
# run arbitrary SQL in phpmyadmin

In [ ]:
# use the template below to create script which drops and then creates the storms table with the proper schema

In [ ]:
# discuss the secrets file

In [ ]:
import pymysql
import secrets

conn = pymysql.connect(host=secrets.host, port=3306, user=secrets.user,
                       passwd=secrets.passwd, db='is437', autocommit=True)

cur = conn.cursor(pymysql.cursors.DictCursor)

sql = '''DROP TABLE IF EXISTS `conlontj_test`;'''
cur.execute(sql)


sql = '''
CREATE TABLE IF NOT EXISTS `conlontj_test` (
  `id` int(5) NOT NULL AUTO_INCREMENT,
  `device` varchar(10) NOT NULL,
  `msg` varchar(20) NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=MyISAM DEFAULT CHARSET=latin1 AUTO_INCREMENT=1 ;
'''
cur.execute(sql)

In [ ]:
# how to write a python function, define unit tests

In [ ]:
# write a function which drops a specified table.
#  what are some good unit tests?

In [ ]:
# Write function which takes a csv file as an argument and returns 
#    the proper create table query for creating it in SQL

To Know:
* How to login to the VPN if off campus
* How to sign into phpmyadmin
* How to create a table in phpmyadmin (not null, auto increment, primary)
* Best practices for fieldnames
* Export arbitrary SQL and execute it in Python
* What a cursor / connection is 
* Define a function, specify args
* Write a unit test

What can go wrong:
* Cannot connect to phpmyadmin
* pymysql can't establish connection to DB
* SQL errors - how to identify
* Debug SQL syntax errors
* trouble defining a function - tricks for too amny args or return values

In [ ]:
sql = '''SELECT COUNT(studentid)'''